body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#icon {
  width:60%;
  height:180px;
}
.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}

.main-head{
  height: 150px;
  background: #FFF;
 
}