<%- include("partials/header.ejs") %>
<div class="wrapper">
   <div class="login-main-text">
      <img src="/images/chatlogo.png" alt="logo" id="loginLogo">
      <h2 class="text-center">Register</h2>
   </div>
</div>
<div class="main">
   <div>
      <div class="register-form">
         <form>
            <div class="form-group" action="#" method="POST">
               <label>User Name</label>
               <input type="text" class="form-control" placeholder="User Name">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
            </div>
            <a class="btn btn-primary" href="#" role="button">Register</a>
            <div>
               <p>already have an account? <a href="/login">login here</a></p>
            </div>
         </form>
      </div>
   </div>
</div>
<%- include("partials/footer.ejs") %>